body {
    font-family: Georgia Times, Times New Roman, Times, serif;
    color: #00F8FF;
	background-image: url(../img/fondo.jpg);
}
h1 {
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
	text-align: center;
}

.titulo {
	font-size: 25px;
	color: #0AF6DB;
}
.barraTitulo {
	color: #0AF6DB;
	font-size: 20px;
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	background: black;
	padding: 5px;
	width: 1500px;
	margin-left: auto;
    margin-right: auto;
}
.fondoTexto {
	color: #E0DFEF;
	font-size: 17px;
	background: black;
	padding: 25px;
	border-radius: 50px;
	width: 800px;
	margin-left: auto;
    margin-right: auto;
	text-decoration: none;
	list-style: none;
}
ul.menu {
	color: black;
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 225px;
	left: 1em;
	width: 300px;
}
ul.menu li {
	font-size: 17px;
	font-weight: bold;
	background: #08CED2;
	margin: 0.5em 0;
	padding: 0.3em;
	border-right: 50px solid #374454;
}
ul.menuI {
	color: black;
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 225px;
	right: 1em;
	width: 300px;
}
ul.menuI li {
	font-size: 17px;
	font-weight: bold;
	background: #08CED2;
	margin: 0.5em 0;
	padding: 0.3em;
	border-left: 50px solid #374454;
}
a:link {
  color: blue;
 }
a:visited {
  color: blue;
}